<button routerLink="/admin/brands" type="button" class="btn bg-gradient-primary">GERİ</button>
      <div style="text-align: center;">
        <h5 class="title">Marka Ekle</h5>
    
        <form [formGroup]="brandAddForm">
          <div class="row">
            <div class="col-md-6" style="margin: auto;">
          <div class="form-group">
              <label for="example-text-input" class="form-control-label">Araç Markası Giriniz</label>
              <input class="form-control" formControlName="name" type="text" value="Araç Markası" id="example-text-input">

              <label for="example-text-input" class="form-control-label">Araç logosu</label>
              <input class="form-control" formControlName="logo" type="text" value="Araç Logosu" id="example-text-input">
          </div>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;" (click)="add()">Ekle</button>
        </form>
    </div>
     
       
 
   

