<div class="card-body p-3">
  <div class="row gx-4">
  <div class="col-auto">
  <div class="avatar avatar-xl position-relative">
  <img src="../../../assets/img/icons/admin_logo.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
  </div>
  </div>
  <div class="col-auto my-auto">
  <div class="h-100">
  <h5 class="mb-1">
  Burak Ergin
  </h5>
  <p class="mb-0 font-weight-bold text-sm">
  Admin
  </p>
  </div>
  </div>
  <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
  <div class="nav-wrapper position-relative end-0">
  <ul class="nav nav-pills nav-fill p-1" role="tablist">
  <li class="nav-item" role="presentation">
  <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false" tabindex="-1">
  <i class="ni ni-app"></i>
  <span class="ms-2">Uygulama</span>
  </a>
  </li>
  <li class="nav-item" role="presentation">
  <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
  <i class="ni ni-email-83"></i>
  <span class="ms-2">Mesajlar</span>
  </a>
  </li>
  <li class="nav-item" role="presentation">
  <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
  <i class="ni ni-settings-gear-65"></i>
  <span class="ms-2">Ayarlar</span>
  </a>
  </li>
  <div class="moving-tab position-absolute nav-link" style="padding: 0px; transition: all 0.5s ease 0s; transform: translate3d(77px, 0px, 0px); width: 118px;"><a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center active" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">-</a></div></ul>
  </div>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
    <div class="card  mb-4">
    <div class="card-body p-3">
    <div class="row">
    <div class="col-8">
    <div class="numbers">
    <p class="text-sm mb-0 text-uppercase font-weight-bold">Aylık Hasılat</p>
    <h5 class="font-weight-bolder">
    $53,000
    </h5>
    <p class="mb-0">
    <span class="text-success text-sm font-weight-bolder">+55%</span>
    Ek Kar
    </p>
    </div>
    </div>
    <div class="col-4 text-end">
    <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
    <div class="card  mb-4">
    <div class="card-body p-3">
    <div class="row">
    <div class="col-8">
    <div class="numbers">
    <p class="text-sm mb-0 text-uppercase font-weight-bold">Haftalık Gelir</p>
    <h5 class="font-weight-bolder">
    2,300
    </h5>
    <p class="mb-0">
    <span class="text-success text-sm font-weight-bolder">+3%</span>
    Ek Kar
    </p>
    </div>
    </div>
    <div class="col-4 text-end">
    <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
    <div class="card  mb-4">
    <div class="card-body p-3">
    <div class="row">
    <div class="col-8">
    <div class="numbers">
    <p class="text-sm mb-0 text-uppercase font-weight-bold">Giderler</p>
    <h5 class="font-weight-bolder">
    +3,462
    </h5>
    <p class="mb-0">
    <span class="text-danger text-sm font-weight-bolder">-2%</span>
    Zarar Oranı
    </p>
    </div>
    </div>
    <div class="col-4 text-end">
    <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
    <div class="card  mb-4">
    <div class="card-body p-3">
    <div class="row">
    <div class="col-8">
    <div class="numbers">
    <p class="text-sm mb-0 text-uppercase font-weight-bold">Satışlar</p>
    <h5 class="font-weight-bolder">
    $103,430
    </h5>
    <p class="mb-0">
    <span class="text-success text-sm font-weight-bolder">+5%</span> Kar Oranı
    </p>
    </div>
    </div>
    <div class="col-4 text-end">
    <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <div class="card">
          <div class="card-header d-flex pb-0 p-3">
          <h6 class="my-auto">Passat</h6>
          <div class="nav-wrapper position-relative ms-auto w-50">
          <ul class="nav nav-pills nav-fill p-1" role="tablist">
          <li class="nav-item" role="presentation">
          <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#cam1" role="tab" aria-controls="cam1" aria-selected="true">
          Lounge
          </a>
          </li>
          <li class="nav-item" role="presentation">
          <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#cam2" role="tab" aria-controls="cam2" aria-selected="false" tabindex="-1">
          Office
          </a>
          </li>
          <li class="nav-item" role="presentation">
          <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#cam3" role="tab" aria-controls="cam3" aria-selected="false" tabindex="-1">
          Attic
          </a>
          </li>
          <div class="moving-tab position-absolute nav-link" style="padding: 0px; transition: all 0.5s ease 0s; transform: translate3d(0px, 0px, 0px); width: 132px;"><a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#cam1" role="tab" aria-controls="cam1" aria-selected="true">-</a></div></ul>
          </div>
          <div class="dropdown pt-2">
          <a href="javascript:;" class="text-secondary ps-4" id="dropdownCam" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end me-sm-n4 px-2 py-3" aria-labelledby="dropdownCam">
          <li><a class="dropdown-item border-radius-md" href="javascript:;">Pause</a></li>
          <li><a class="dropdown-item border-radius-md" href="javascript:;">Stop</a></li>
          <li><a class="dropdown-item border-radius-md" href="javascript:;">Schedule</a></li>
          <li>
          <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item border-radius-md text-danger" href="javascript:;">Remove</a></li>
          </ul>
          </div>
          </div>
          <div class="card-body p-3 mt-2">
          <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show position-relative active height-400 border-radius-lg" id="cam1" role="tabpanel" aria-labelledby="cam1" style="background-image: url('../../../assets/img/volkswagen/passat.jpg'); background-size:cover;">
          <div class="position-absolute d-flex top-0 w-100">
          <p class="text-white p-3 mb-0">17.05.2021 4:34PM</p>
          <div class="ms-auto p-3">
          <span class="badge badge-secondary">
          <i class="fas fa-dot-circle text-danger" aria-hidden="true"></i>
          Recording</span>
          </div>
          </div>
          </div>
          <div class="tab-pane fade position-relative height-400 border-radius-lg" id="cam2" role="tabpanel" aria-labelledby="cam2" style="background-image: url('../../../assets/img/volkswagen/passat1.jpg'); background-size:cover;">
          <div class="position-absolute d-flex top-0 w-100">
          <p class="text-white p-3 mb-0">17.05.2021 4:35PM</p>
          <div class="ms-auto p-3">
          <span class="badge badge-secondary">
          <i class="fas fa-dot-circle text-danger" aria-hidden="true"></i>
          Recording</span>
          </div>
          </div>
          </div>
          <div class="tab-pane fade position-relative height-400 border-radius-lg" id="cam3" role="tabpanel" aria-labelledby="cam3" style="background-image: url('../../../assets/img/volkswagen/passat2.jpg'); background-size:cover;">
          <div class="position-absolute d-flex top-0 w-100">
          <p class="text-white p-3 mb-0">17.05.2021 4:57PM</p>
          <div class="ms-auto p-3">
          <span class="badge badge-secondary">
          <i class="fas fa-dot-circle text-danger" aria-hidden="true"></i>
          Recording</span>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      </div>
      <div class="col-lg-5">
      <div class="card card-carousel overflow-hidden h-100 p-0">
      <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
      <div class="carousel-inner border-radius-lg h-100">
      <div class="carousel-item h-100" style="background-image: url('../../../assets/img/audi/audi.jpg');
            background-size: cover;">
      <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
      <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
      <i class="ni ni-camera-compact text-dark opacity-10"></i>
      </div>
      <h5 class="text-white mb-1">Yeni Seri Audi</h5>
      <p>Eşsiz tasarımıyla Audi Yeni Fırsatlarla Bayilerimizde...</p>
      </div>
      </div>
      <div class="carousel-item h-100 active" style="background-image: url('../../../assets/img/audi/audi1.jpg');
            background-size: cover;">
      <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
      <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
      <i class="ni ni-bulb-61 text-dark opacity-10"></i>
      </div>
      <h5 class="text-white mb-1">Kusursuz Tasarım</h5>
      <p>Kullanıcı Dostu ve Hoş İç Tasarımıyla Sizleri Bekliyor.</p>
      </div>
      </div>
      <div class="carousel-item h-100" style="background-image: url('../../../assets/img/audi/audi2.jpg');
            background-size: cover;">
      <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
      <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
      <i class="ni ni-trophy text-dark opacity-10"></i>
      </div>
      <h5 class="text-white mb-1">Mavini Eşsiz Tonuyla</h5>
      <p>Sınırlı Sayıda StoklardA...</p>
      </div>
      </div>
      </div>
      <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
      </div>
      </div>
      </div>
      </div>